		#wrapper{
			width:800px;
			height:auto;
			margin:0 auto;
			background:linear-gradient(#23819C,#2897B7,#2FAACE,#44B4D5);
		}
		#header
		{
			display:inline-block;
			width:800px;
			text-align:center;
		}
		#categories{
			width:790px;
			height:60px;
			background-color:black;
			padding:5px;

		}
		#products{
			padding:10px;
			margin:0 auto;
		}
		.product_img{
			height:100px;
			width:100px;
			margin:0 20px;
/*			border:1px solid black;*/
			display:inline-block;
		}
		.productlist{
/*			border:1px solid black;*/
			height:150px;
			width:150px;
			display:inline-block;
		}
		.productlist p{
			display:block;
			text-align:center;
			margin:0;
		}
		#cart{
			height:40px;
			vertical-align: top;
			margin:0;
		}
		#search_box
		{
			width:200px;
			height:250px;
			border:1px solid black; 
			display: inline-block;
/*			padding-top:10px; */
/*			padding-left:10px; 
			position:relative;
			bottom:550px; */
		}
		input[type="submit"]{
			background-color:white;
			margin:0;
		}
		#main{
			border:1px solid black; 
			display:inline-block;
			width:800px; 
/*			padding-left:5px; 
			margin-left:20px;*/
			/*position:relative; 
			bottom:92px;*/
		}
		ul
		{
			margin-left:0;
			text-align:left;
		}
		li{
			display: inline;
			padding:0px;
		}
		a {
			text-decoration:none; 
			font-size:15px;
			color:white;
			padding:5px;
		}
		.nav{
			border:1px solid white;
		}
		form{
			display:inline-block;
		}
		#products{
			height:450px;
			overflow:scroll;
		}
		#page_one{
			border-right:1px solid black; 
			padding-right:10px;
		}
		#page_two
		{
			border-right:1px solid black;
			padding-right:10px; 
		}